*, ::before, ::after{ margin: 0; box-sizing: border-box;scroll-behavior: smooth;}
a{ text-decoration: none;}
ul{ list-style: none; padding: 0;}
img{ vertical-align: bottom;}
button{ cursor: pointer; padding: 0;}
:disabled{ cursor: not-allowed;}


html{ font-size: 15px;}
body{
    font-family: pl, sans-serif;
    font-weight: 100;
}
h1, h2, h3, h4, th, b, strong{ font-family: pb, sans-serif; font-weight: 700;}
.reg{ font-family: pr, sans-serif; font-weight: 400;}

.container{
    max-width: 1440px;
    margin: 0px auto;
    padding: 0 1rem;
}
.row{
    display: flex;
    flex-flow: row wrap;
    
}
.row [class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.row .col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.row .col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.row .col-3{ flex-basis: 25%; max-width: 25%; }
.row .col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.row .col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.row .col-6{ flex-basis: 50%; max-width: 50%; }
.row .col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.row .col-8{ flex-basis: 66.66%; max-width: 66.66%; }z
.row .col-9{ flex-basis: 75%; max-width: 75%; }
.row .col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.row .col-12{ flex-basis: 100%; max-width: 100%; }

.flex{ display: flex;}
.justify-right{ justify-content: flex-end;}
.align-center{ align-items: center;}
.justify-center{ justify-content: center;}

.wrap-1{background: url(./img/pic-png-2.jpg) ; height: 95vh; background-repeat: no-repeat; background-size: cover;}
header{background-color: aqua;}
.wrap-1 img{width: 100%; height: auto;}
nav{margin-left: -20px;}
nav ul{display: flex;}
nav ul li{margin:30px ;}
nav ul li a{color: #515155;display: block; }
nav ul li a:hover{color: #232323;}

header .btn{ width: 90px; height: 35px; margin: 30px; border: 2px solid; border-radius: 5px; font-size: 15px;}

 header h1{line-height: 4rem; font-size: 4rem;} 
.mg{margin-top: 110px;}
header p{margin: 12px 0px; padding-right: 10px;}
.btn-1{ line-height: 20px; border: 2px solid; border-radius: 5px; font-size: 15px; padding: 10px;}
.btn-0 {display: none;}


.wrap-2{background-image: url(img/pic\ png-3.png); background-size: cover; padding: 60px 0px; text-align: center;}
.wrap-2 h2{ color: white; line-height: 4rem; font-size: 3rem;}
.wrap-2 p {margin: 12px 0px; padding-right: 10px; color: white; }
.btn-2{ line-height: 20px; border: 2px solid; border-radius: 5px; font-size: 15px; padding: 10px;text-align: center;justify-content: center;align-items: center;}

.wrap-3{background-image: url(img/Untitled-4.jpg); height: 815px;  display: flex; align-items: center;justify-content: center; background-size: cover;}
.wrap-3 img{width: 100%; height: auto;}
.wrap-3 h2{margin: 30px 0px; font-size: 2rem;}

.wrap-4{background-image: url(img/Untitled-8.jpg); height: 884px; display: flex;align-items: center; justify-content: center; background-size: cover;  background-repeat: no-repeat;} 
.wrap-4 .row{text-align: center;} 
.wrap-4 .row h2{font-size: 5rem; margin: 50px 0px;} 
.wrap-4 .row p{font-weight: 700; font-size: 1.5rem;} 


.wrap-5 img{width: 100%; height: auto; padding: 70px 0px;}

.wrap-5 .row  h2{font-size: 2rem; line-height: 3rem;}
.wrap-5 .row  p{font-size: 1rem;}
.wrap-5 .col-12{text-align: right;}
.wrap-5 span{font-size: 3rem;}

.wrap-6{background: url(img/Untitled-14.jpg);background-size: cover;background-repeat: no-repeat; background-position: center;}
.wrap-6 .container{padding: 50px 0px;}
.wrap-6 img{width: 100%; height: 562px; margin: 150px 0px;}
.wrap-6 .row h2{ font-size: 5rem;color: #fff;}
.wrap-6 .row h3{font-size: 1.5rem;color: #fff; padding: 20px 0px;}
.wrap-6 .row p{font-size: 1.2rem;color: #fff; margin-right: 50px;}


.wrap-7 .row .col-8{padding: 0px 90px}
.wrap-7 .img{padding: 10px; max-width: 100%; height: auto; display: flex; justify-content: center; align-items: center;}
.wrap-7 .container{padding: 50px 0px;}
.wrap-7 .row h2{font-size: 3.5rem; margin-bottom: 50px;}
.wrap-7 img{width: 100%; height:auto; }


.flex-1 {display: flex; align-items: center;}
.flex-1 p {flex: 1 0 90%; font-size: 1.5rem; margin: 15px 0px;}
.flex-1 span{flex: 1 0 10%; display: inline-block; text-align: center; font-size: 3rem;}

.wrap-8{background: url(img/Untitled-18.jpg);background-size: cover;background-repeat: no-repeat; background-position:center}
.wrap-8 img{width: 100px ; height: 100px; text-align: center; justify-content: center; margin: 50px 0px;}
.wrap-8 .row h2{text-align: center;justify-content: center;font-size: 4.5rem;margin:120px 0px;}
.wrap-8 .container-8{display: flex; }
.wrap-8 .container-8 .row{border: 2px solid; border-radius: 20px; text-align: center;justify-content: center;margin: 10px;}
.wrap-8  .col-8 .col-3{ text-align: center; border: 2px solid black; border-radius: 15px; margin:0px 10px;}
.wrap-8 .container-8 h3{font-size: 2rem; margin: 0px -90px;}
.container-8 p{font-size: 1.5rem;margin: 22px -100px;}



.wrap-9 .container{ padding: 180px 0px; }
.wrap-9 .row h2{font-size: 4rem; margin-bottom: 20px;}

.wrap-9 form textarea{resize: none; max-width: 100%; border: 2px solid; border-radius: 5px; padding: 10px;}
.wrap-9 input{width: 100%; margin: 10px 0px; padding: 10px; border-radius: 5px;}
.wrap-9 .btn{margin-top: 2rem; cursor: pointer;background-color: black; color: #fff;}
.wrap-9 img{max-width: 100%; height:auto;}

.wrap-10{background-color: #c4c4c4;}
.wrap-10 .container{ padding: 20px 0px;}
.wrap-10 .col-3{margin-top: 20px;}
.wrap-10 .col-10{display: flex; justify-content: right;}
.wrap-10 h2{font-size: 3rem; text-transform: capitalize;}
.wrap-10 h3{font-size: 2rem; text-transform: capitalize;}
.wrap-10 a{margin: 10px 0px; font-size: 1.2rem; line-height: 2rem; color: #515155; text-transform: capitalize;}

@media screen and (max-width: 780px) {
    .wrap-1{height: auto;}
    .wrap-1 .mg{padding: 20px 0px; margin-top: 0px;}
    .wrap-1 .col-6{padding: 10px 0px;}
    .wrap-2 .col-4{padding: 50px 0px; max-width: 100%; flex-basis: 100%; background: #515155b8;}
    .wrap-3{height: 100vh;}
    .wrap-4{height: 100vh;}
    .wrap-4 .row{background-color: #ffffff61;}

    .wrap-5 .col-6 img{width: 100%; height: auto;}
    .wrap-5 .col-6 .col-8{flex-basis: 100%; max-width: 100%; padding: 0px;}
    .wrap-10 .col-2{flex-basis: 100%; max-width: 100%; text-align: center;}
    .wrap-10 .col-10{flex-basis: 100%; max-width: 100%; text-align: center;}
}

@media screen and (max-width: 680px){
    .wrap-1 .mg{flex-direction: column-reverse;}
    .wrap-1 .mg .col-6{flex-basis: 80%; max-width: 80%;}

    .wrap-4{height: 100%;}
    .wrap-5 .col-6{flex-basis: 100%; max-width: 100%;}
    .wrap-6 .col-6{flex-basis: 100%; max-width: 100%;}
    .wrap-7{height: auto;}
    .wrap-7 .container{height: auto;}
    .wrap-7 .row{flex-direction: column-reverse; height: auto;}
    .wrap-7 .row .col-8{flex-basis: 100%; max-width: 100%; height: auto; margin: 0px;}
    
    .wrap-7 .row .col-4{flex-basis: 100%; max-width: 100%; text-align: center; height: auto;}
    .wrap-7 .row .col-4 img{max-width: 50%; height: auto;}

    .wrap-8 .row h2{ margin: 10px 0px;}
    /* .wrap-8 .row .col-8{flex-basis: 100%; max-width: 100%; display: block;} */
    .wrap-8  .col-8 .col-3{flex-basis: 100%; max-width: 100%; text-align: center; border: 2px solid black; border-radius: 15px; margin-bottom: 10px;}

    .wrap-9 .row{flex-direction: column-reverse;}
    .wrap-9 .row .col-6{flex-basis: 100%; max-width: 100%;}
    
}

@media screen and (max-width: 580px){
    .wrap-10 .col-3{flex-basis: 50%; max-width: 50%;}
    .wrap-7 .row .col-8{padding: 10px;}
    .wrap-1 .btn{display: none;}
    .btn-0{display: block;}
    .btn-0 span{font-size: 2rem; padding: 0px 15px; line-height: 3rem;}
    .wrap-1 .col-6{flex-basis: 100%; max-width: 100%;}
    .wrap-1 nav{display: flex; justify-content: right;}
    #menu { position: absolute; display: none; flex-direction: column; top: 60px; right: 0px; left: 0px; text-align: center; background-color: #e9e9e9;}
    #menu li{ margin: 10px 0px;}
}
